@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(230, 20%, 14%);
    --foreground: hsl(37, 14%, 96%);

    --card: hsl(230, 20%, 14%);
    --card-foreground: hsl(37, 14%, 96%);

    --popover: hsl(230, 20%, 14%);
    --popover-foreground: hsl(37, 14%, 96%);

    --primary: hsl(331, 100%, 60%);
    --primary-foreground: hsl(233, 17%, 38%);

    --secondary: hsl(197, 100%, 78%);
    --secondary-foreground: hsl(233, 17%, 38%);

    --muted: hsl(197, 100%, 78%);
    --muted-foreground: hsl(53, 85%, 64%);

    --accent: hsl(197, 100%, 78%);
    --accent-foreground: hsl(233, 17%, 38%);

    --destructive: hsl(281, 100%, 46%);
    --destructive-foreground: hsl(233, 17%, 38%);

    --border: hsl(197, 100%, 78%);
    --input: hsl(197, 100%, 78%);
    --ring: hsl(240, 6%, 88%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(230, 20%, 14%);
    --foreground: hsl(331, 100%, 60%);

    --card: hsl(230, 20%, 14%);
    --card-foreground: hsl(331, 100%, 60%);

    --popover: hsl(230, 20%, 14%);
    --popover-foreground: hsl(331, 100%, 60%);

    --primary: hsl(331, 100%, 60%);
    --primary-foreground: hsl(230, 20%, 14%);

    --secondary: hsl(275, 100%, 74%);
    --secondary-foreground: hsl(331, 100%, 60%);

    --muted: hsl(275, 100%, 74%);
    --muted-foreground: hsl(54, 88%, 67%);

    --accent: hsl(275, 100%, 74%);
    --accent-foreground: hsl(331, 100%, 60%);

    --destructive: hsl(230, 20%, 14%);
    --destructive-foreground: hsl(331, 100%, 60%);

    --border: hsl(275, 100%, 74%);
    --input: hsl(275, 100%, 74%);
    --ring: hsl(212, 21%, 88%);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
