@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html.light {
  --background: #fdf6e3;
  --foreground: #657b83;

  --card: #fdf6e3;
  --card-foreground: #657b83;

  --popover: #fdf6e3;
  --popover-foreground: #657b83;

  --primary: 205 70% 49%;
  --primary-foreground: #fdf6e3;

  --secondary: 45 100% 35%;
  --secondary-foreground: #fdf6e3;

  --muted: #839496;
  --muted-foreground: #fdf6e3;

  --accent: #2aa198;
  --accent-foreground: #fdf6e3;

  --destructive: #dc322f;
  --destructive-foreground: #fdf6e3;

  --border: 205 70% 49%;
  --input: 205 70% 49%;
  --ring: #fdf6e3;

  --radius: 0.5rem;
}

html.dark {
  --background: #282a36;
  --foreground: #f8f8f2;

  --card: #44475a;
  --card-foreground: #f8f8f2;

  --popover: #44475a;
  --popover-foreground: #f8f8f2;

  --primary: hsl(331, 100%, 60%);
  --primary-foreground: hsl(230, 20%, 14%);

  --secondary: 275 100% 74%;
  --secondary-foreground: hsl(230, 20%, 14%);

  --muted: #6272a4;
  --muted-foreground: #f8f8f2;

  --accent: #ffb86c;
  --accent-foreground: #282a36;

  --destructive: #ff5555;
  --destructive-foreground: #f8f8f2;

  --border: hsl(275, 100%, 74%);
  --input: hsl(275, 100%, 74%);
  --ring: hsl(212, 21%, 88%);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
